<!-- **************************************************************************
 File Name : new.html.erb

 Project Name : Post Office

 Description of purpose of file:For admin login using session and link to users for viewing their  current status

 Revision Date : 21-03-2013
*******************************************************************************-->

<html>
    <div align = "center" >
      <table border = "0">
      <td width = "550" align = "center">
          <%= image_tag("stamp14.jpeg", :alt =>"post office",:size => "100x75") %>
          <%= image_tag("stamp2.jpeg", :alt =>"post office",:size => "100x75") %>
          <%= image_tag("stamp4.jpeg", :alt =>"post office",:size => "100x75") %>
      </td>
      <td width = "500" align = "center"><h1  style = "color:#D51421;font-size:50px;">POST OFFICE </h1></td>  
      <td width = "500" align = "center">
          <%= image_tag("stamp9.jpeg", :alt =>"post office",:size => "100x75") %>
          <%= image_tag("stamp1.jpeg", :alt =>"post office",:size => "100x75") %>
          <%= image_tag("stamp13.jpeg", :alt =>"post office",:size => "100x75") %>
      </td>
      </table>
    </div>
     <style type="text/css">
        body {
        background: url(<%= image_path('background.jpeg') %>) no-repeat;
        background-size: 100%;
        }
     </style>
 
     <div align = "right"> 
     <table border = "0" >
    <td width = "500"><%= image_tag("stamps.jpeg", :alt =>"Post Office",:size => "420x680") %></td>
    <td width = "500"><%= image_tag("post.jpeg", :alt =>"Post Office" ,:size => "600x680") %></td>
    <td width = "300" align = "left" style="background-color: white;"><%= image_tag("card.jpeg", :alt =>"Post Office" ,:size => "300x180") %>
      <p align = "center"> <%= link_to "View Status" ,:controller => "admin" ,:action => "view_status" %>    </p>
       
           
	    <%= form_tag session_path do%>
            
               <%= image_tag("indian_post.jpeg", :alt =>"Post Office") %>
              <div align = "center" style = "background-color:red;"> 
                 <%= flash[:notice]%>
	      </div>
	      <div class = "field">
	       <%= label_tag :email %></br>
	       <%= text_field_tag :email%>
	      </div>

	      <div class = "field">
	       <%= label_tag :password %></br>
	       <%= password_field_tag :password%>
	      </div>

	      <div class = "action">
	       <%= submit_tag "Login"%>
	      </div>
	    
              <br><%= link_to "forget password?" ,:controller => "admin" ,:action => "forget_password" %><br/>  

	   <%end%>
              
              <%= image_tag("post_office.jpeg", :alt =>"post office",:size => "300x180") %>
         
       
        </td>
   
     </table>
    </div>

 </body>
</html>
