<!-- **************************************************************************
 File Name : new_entry.html.erb

 Project Name : Post Office

 Description of purpose of file: To add new entry of cards 

*******************************************************************************-->
<html>
  
  <div align = "center"> 
      <h1>New Entry</h1>
      <%= flash[:notice] %>
 
  <%= form_for :card, :url => {:controller => "admin" ,:action => "add_new" } do |f| %>
     
      <table border = "0"  bgcolor = "#FAF1D2">
         <col width = "200">
         <col width = "300">
         
            <th>Sender Details</th>
            <tr><td><label for = "sender_name">Name*</label></td>
                <td><%= f.text_field :sender_name %></td></tr>
 
            <tr><td><label for = "sender_address">Address*</label></td>
                <td><%= f.text_field :sender_address %></td></tr>

            <tr><td><label for = "sender_city">City*</label></td>
                <td><%= f.text_field :sender_city %></td></tr>

            <tr><td><label for = "sender_pincode">Pincode*</label></td>
                <td><%= f.text_field :sender_pincode %></td></tr>

            <tr><td><label for = "sender_state">State*</label></td>
                <td><%= f.text_field :sender_state %></td></tr>

            <tr><td><label for = "sender_phone_no">Contact No*</label></td>
                <td><%= f.text_field :sender_phone_no %></td></tr>
          
            <tr><td><label for = "sender_email">Email</label></td>
                <td><%= f.text_field :sender_email %></td></tr>


            <th>Receiver Details</th>
            <tr><td><label for = "receiver_name">Name *</label></td>
                <td><%= f.text_field :receiver_name %></td></tr>
 
            <tr><td><label for = "receiver_address">Address *</label></td>
                <td><%= f.text_field :receiver_address %></td></tr>

            <tr><td><label for = "receiver_city">City *</label></td>
                <td><%= f.text_field :receiver_city %></td></tr>

            <tr><td><label for = "receiver_pincode">Pincode *</label></td>
                <td><%= f.text_field :receiver_pincode %></td></tr>

            <tr><td><label for = "receiver_state">State*</label></td>
                <td><%= f.text_field :receiver_state %></td></tr>

            <tr><td><label for = "receiver_phone_no">Contact No*</label></td>
                <td><%= f.text_field :receiver_phone_no %></td></tr>
          
            <tr><td><p><label for="type">Type *</label></td>
                <td><select title = "type" name = "type">
		<option>Select Type</option>   
		<optgroup label = "Type">
		   <option value = "ordinary">Ordinary Post</option>   
		   <option value = "speed">Speed Post</option>
		</optgroup>m 
                </select>
                    
            </td></tr>
            
            <tr><td><label for = "weight">Weight</label></td>
                <td><%= f.text_field :weight %></td></tr>
           
              
        </table>
       <br><%= submit_tag "Add"%>
       <%= link_to "Back" ,:controller => "admin" ,:action => "home" %><br/>  
    
  <%end%>
  </div>
</html>
