<!-- **************************************************************************
 File Name : profile.html.erb

 Project Name : Post Office

 Description of purpose of file: To display admin profile and a link to edit profile 

*******************************************************************************-->

<html>
 <div align = "center">
     <h1> Profile</h1>   
 </div>

 <div align = "center"> 
    <%= flash[:notice]%>
 </div>

 <%= form_for :user, :url => {:controller => "admin" ,:action => "updated_profile" } do |f| %>
    <div align = "center">
       
       <table border = "0" bgcolor = "#FAF1D2">
       <col width = "300">
       <col width = "300">
            
             <tr><td><label for = "name">Name</label></td>
	         <td><%= f.text_field :name %></td></tr>
             
             <tr><td><label for = "email">Email</label></td>
	         <td><%= f.text_field :email %></td></tr>

             <tr><td><label for = "address">Address</label></td>
	         <td><%= f.text_field :address %></td></tr>

             <tr><td><label for = "city">City</label></td>
	         <td><%= f.text_field :city %></td></tr>

             <tr><td><label for = "pincode">Pincode</label></td>
	         <td><%= f.text_field :pincode %></td></tr>
 
             <tr><td><label for = "state">State</label></td>
	         <td><%= f.text_field :state %></td></tr>

             <tr><td><label for = "contact_no">Contact No</label></td>
	         <td><%= f.text_field :contact_no %></td></tr>

       </table>

       <br> <%= f.submit "Update Changes"%>
       <%= link_to "Back" ,:controller => "admin" ,:action => "admin_profile"%><br/> 
    </div>
 <%end%>

</html>
