<!-- **************************************************************************
 File Name : status_change.html.erb

 Project Name : Post Office

 Description of purpose of file: To cahnge card status
                                

*******************************************************************************-->

<html>
  
   <div align = "center">
   <br><table border = "1"  bgcolor = "#FAF1D2">
   
   <%= form_tag({:action => "after_updation"})%>
      <tr>
		   <th>Card ID</th>
		   <th>Sender Details</th>
		   <th>Receiver Details</th>
                   <th>Status</th>
                   <th>Update</th>
      </tr>
               
	         <td><%= @card.card_id %></td>
                  <% session[:card_id] = @card.card_id %>	     
                     
	         <td><%= @card.sender_name %><br>
                     <%= @card.sender_address %><br>
                     <%= @card.sender_city %><br>
                     -<%= @card.sender_pincode %><br>
                     <%= @card.sender_state %><br>
                     ph_no : <%= @card.sender_phone_no %><br></td>
         
	         <td><%= @card.receiver_name %><br>
                     <%= @card.receiver_address %><br>
                     <%= @card.receiver_city %><br>
                     -<%= @card.receiver_pincode %><br>
                     <%= @card.receiver_state %><br>
                     ph_no : <%= @card.receiver_phone_no %><br></td>
                  
                 <td><select title = "status" name = "status">
                      
			   <option value = "<%@card.status%>" ><%= @card.status%></option>                          
                           <option value = "Received">Received</option> 
			   <option value = "Inprogress">Inprogress</option>
			   <option value = "Delivered">Delivered</option>
			   <option value = "Non-Delivered">Non-Delivered</option>
			
                  </select><br></td>

                  <td><%= submit_tag "Update"%></td>
                 
      </tr>
         <%= link_to "Back" ,:controller => "admin" ,:action => "after_updation" %><br/>
   </table>

  </div>
 
</html>
