<!-- **************************************************************************
 File Name : update_view.html.erb

 Project Name : Post Office

 Description of purpose of file: To search cards with their types (ordinary/speed post)
                                 and by status(Received/Inprogress/Delivered/Non-Delivered)

*******************************************************************************-->

<html>
   <%= render :template => "admin/update_status" %>
  <% if (!@cards.blank?) %>

   <div align = "center" > 	       
         <td>Card Type :<%= session[:card_type] %></td></br>
   </div>

   <div align = "center">
   <br><table border = "1"  bgcolor = "#FAF1D2">
  
      <tr>
		   <th>Card ID</th>
		   <th>Sender Details</th>
		   <th>Receiver Details</th>
                   <th>Status</th>
                   <th>Update Status</th>
      </tr> 
           <% @cards.each do |card| %>
                 <% @card = card %>
      <tr> 
           <% if @card.status != "Delivered"%>    
	         <td><%= @card.card_id %></td>
                
         
	         <td><%= @card.sender_name %><br>
                     <%= @card.sender_address %><br>
                     <%= @card.sender_city %><br>
                     -<%= @card.sender_pincode %><br>
                     <%= @card.sender_state %><br>
                     ph_no : <%= @card.sender_phone_no %><br></td>
         
	         <td><%= @card.receiver_name %><br>
                     <%= @card.receiver_address %><br>
                     <%= @card.receiver_city %><br>
                     -<%= @card.receiver_pincode %><br>
                     <%= @card.receiver_state %><br>
                     ph_no : <%= @card.receiver_phone_no %><br></td>
  
                 <td><%= @card.status %></td>
            
           <td align = "center"><%= link_to "Update" ,:controller => "admin" ,:action => "status_change" ,:id => @card.card_id%></td>
           <%end%>
      </tr>
      <% end %>
   </table>
  </div>
  <%else%>
   <div align = "center"> 
       <p>No Cards Available</p>
   </div>
  <% end %>
</html>
